.note-list {
  gap: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 420px;
  overflow-x: auto;
  align-items: flex-start;
  align-content: flex-start;
}
@media only screen and (max-width: 500px) {
  .note-list .note {
    width: 70vw !important;
  }
  .note-list {
    flex-wrap: nowrap;
    height: auto;
  }
}
.note-list::-webkit-scrollbar-track {
  background: red; /* color of the tracking area */
}

.note-list::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}
.note-list .note {
  background: rgb(247 223 108);
  padding: 20px;
  width: 160px;
  min-height: 150px;
  font-family: cursive;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.note-list .note button {
  position: absolute;
  top: 0;
  right: 0;
}

.new-note-area {
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  font-size: 20px;
  color: blue;
  width: 160px;
  min-height: 150px;
  font-family: cursive;
}

textarea {
  background: transparent;
  resize: none;
  outline: none;
  width: 90%;
  padding: 10px;
  min-height: 130px;
  height: 100%;
  border: none;
  margin-top: 5px;
}
