/* Add application styles & imports to this file! */
html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
body {
  font-family: cursive;
  font-size: 14px;
  background: #eaeafd;
  scrollbar-width: thin;
  scrollbar-color: red blue;
  padding: 10px 25px;
}
body::-webkit-scrollbar-track {
  background: red; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}
html::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
html::-webkit-scrollbar-thumb {
  background: pink;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%),
    inset -2px -2px 2px rgb(0 0 0 / 25%);
}
html::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}
